<!DOCTYPE html>
<html>
	<head>
		<title>
			home page
		</title>
	</head>
	<body>
		<form action="/calculate" method="post">
			<label>Number 1: </label>
			<input type="number" name="num1">
			<label>Number 2: </label>
			<input type="number" name="num2">
			<button type="submit" name="operation" value="add">Addition</button>
			<button type="submit" name="operation" value="sub">Subtraction</button>
			<button type="submit" name="operation" value="mul">Multiplication</button>
			<button type="submit" name="operation" value="div">Division</button>
			<button type="submit" name="operation" value="mod">Remainder</button>
		</form>
	</body>
</html>